<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @park.banner_url %>);">
  <div class="container">
    <h1><%= @park.name %></h1>
    <%= link_to "Add Dino", new_park_dinosaur_path(@park), class: "btn btn-danger"  %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="cards mt-3">
      <% @park.dinosaurs.each do  |dinosaur| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://www.jurassicworld.com/sites/default/files/2016-10/JP1_castcrew_preview.jpg)">
          <%= dinosaur.name %>
          <br>
          <%= dinosaur.species %>
          <%= link_to dinosaur_path(dinosaur), method: :delete, data: { confirm: "Are you sure?" }, class: "card-remove-link " do %>
            <i class="fas fa-meteor"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
